.carousel-inner {
    .carousel-item {
        background-position: center;
        background-size: cover;
        background: black;
        .container {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding-bottom: 10%;
            color: #ffffff;
            text-shadow: 1px 1px 3px #212121;
            text-align: center;
            font-family: 'Lato', sans-serif;
            font-size: 1.2em;
            font-weight: 400;
            h2 {
                padding-bottom: 20px;
                font-weight: 700;
            }
            span {
                color: #ff8f00;
                font-weight: 900;
            }
        }
        .overlay-image1, .overlay-image2, .overlay-image3, .overlay-image4 {
            position: absolute;
            width: 100%;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-position: center;
            background-size: cover;
            opacity: 0.6;
        }
        .overlay-image1 {
            background-image: url('./../../assets/img/sculpture.jpg');
        }
        .overlay-image2 {
            background-image: url('./../../assets/img/painting.jpg');
        }
        .overlay-image3 {
            background-image: url('./../../assets/img/photo.jpg');
        }
        .overlay-image4 {
            background-image: url('./../../assets/img/Artist.jpg');
        }
    }
}

@media screen and (min-width: 768px) {
    .carousel-item {
        height: 48rem;
    }
}


@media screen and (max-width: 768px) {
    .carousel-item {
        height: 36rem;
    }
}
