<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="overlay-image1">
        </div>
        <div class="container">
            <h2>Sculptures</h2>
            <p>The best sculptures, made by artists around the world. Unique styles - classical, modern and more...</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="overlay-image2">
        </div>
        <div class="container">
            <h2>Paintings</h2>
            <p>Wide base of paintings, which have artistic soul. You will definitely find something for you in wide base of styles.</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="overlay-image3">
        </div>
        <div class="container">
            <h2>Photography</h2>
            <p>Majestatic and breathtaking photos will take you to a different world.</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="overlay-image4">
        </div>
        <div class="container">
            <h2>Artists</h2>
            <p>Over <span>{{ artists }}+</span> artists around the world.</p>
        </div>
      </div>
    </div>
  </div>