.container-fluid {
    padding: 5vw;
}
.items {
    .item {
        margin: 0;
        display: grid;
        grid-template-rows: 1fr auto;
        margin-bottom: 30px;
        break-inside: avoid;
        overflow: hidden;
    }
    .item > img {
        grid-row: 1 / -1;
        grid-column: 1;
    }
    .item:hover {
        img {
            filter: brightness(70%);
            transform: scale(1.05);
            overflow: hidden;
        }
    }
    img {
        max-width: 100%;
        display: block;
        z-index: 1;
    }
    figcaption {
        background: #fafafa;
        z-index: 2;
    }
}

@media screen and (min-width: 992px) {
    .items {
        column-count: 3;
        column-gap: 60px;
    }
}

@media screen and (max-width: 991px) and (min-width: 480px) {
    .items {
        column-count: 2;
        column-gap: 20px;
    }
}

@media screen and (max-width: 479) {
    .items {
        column-count: 1;
        column-gap: 10px;
    }
}

