<div class="container-fluid">
    <div class="animation" *ngIf="!loaded">
        <div class="lds-ripple"><div></div><div></div></div>
        <h1>Loading</h1>
    </div>
    <div class="row" *ngIf="loaded">
        <div class="left col-md-4 col-lg-3">
            <div class="categories">
                <h2>Categories</h2>
                <button (click)="getAllPaintings()" [ngClass]="{'selectedButton': currentCategory === 'All'}">All</button>
                <button *ngFor="let c of categories | async" (click)="getCategory(c)"
                    [ngClass]="{'selectedButton': currentCategory === c}">{{ c }}</button>
            </div>
            <div class="artists">
                <h2>Artists</h2>
                <button (click)="getAllArtists()" [ngClass]="{'selectedButton': currentArtist === 'All'}">All</button>
                <button *ngFor="let a of artists | async" (click)="getArtist(a)"
                    [ngClass]="{'selectedButton': currentArtist === a}">{{ a }}</button>
            </div>
            <div class="sort">
                <h2>Filters</h2>
                <div class="dropdown show">
                    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Sort by
                    </a>
                  
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" (click)="getPriceHighest()">price: highest</a>
                      <a class="dropdown-item" (click)="getPriceLowest()">price: lowest</a>
                      <a class="dropdown-item" (click)="getHeartRate()">heart rate</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="items col-md-8 col-lg-9">
            <div class="item" *ngFor="let p of paintings | async">
                <div class="icons">
                    <div class="cart">
                        <a><i class="bi bi-cart-plus-fill"></i></a>
                    </div>
                    <div class="heart" [class.disabled]="p.addRating === false">
                        <a (click)="addStar(p)"><i class="bi bi-heart-fill"></i></a>
                    </div>
                </div>
                <div class="photo">
                    <img src="{{ p.src }}" alt="{{ p.title }}" />
                </div>
                <div class="description">
                    <div class="artist">
                        <a>{{ p.author }}</a>
                    </div>
                    <div class="details">
                        <a [routerLink]="['/paintings/painting', p.id]"><span>Details </span><i class="bi bi-info-circle-fill"></i></a>
                    </div>
                </div>
                <div class="figcaption">
                    <div class="title">
                        <h4>{{ p.title }}</h4>
                        <h6><span><i class="bi bi-heart-fill"></i></span>{{ p.rating }}</h6>
                    </div>
                    <div class="price">
                        <h5>{{ p.price | currency: 'PLN ' }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>