<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h2><a routerLink="/home" style="cursor: pointer; color: #ffffff; text-decoration: none;">Home</a></h2>
                    <ul>
                        <li><a routerLink="/home" fragment="about">About Us</a></li>
                        <li><a routerLink="/home" fragment="news">News</a></li>
                        <li><a routerLink="/home" fragment="other">Other sections</a></li>
                    </ul>
            </div>
            <div class="col-sm">
                <h2>Sections</h2>
                <ul>
                    <li><a routerLink="/sculptures" routerLinkActive="activeRoute">
                        Sculptures
                      </a></li>
                    <li><a routerLink="/paintings" routerLinkActive="activeRoute">
                        Paintings
                      </a></li>
                    <li><a routerLink="/photography" routerLinkActive="activeRoute">
                        Photography
                      </a></li>
                </ul>
            </div>
            <div class="col-sm">
                <ul style="padding-top: 15px;">
                    <li>Contact us</li>
                    <li>Privacy Policy</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid copyright">
        <h3>Art gallery © 2021</h3>
    </div>
</footer>
