.container-fluid {
    background: #ffffff;
    height: 140px;
    margin-bottom: -10px;
    text-align: center;
    h1 {
        font-family: 'Satisfy', cursive;
        font-size: clamp(24px, 7.5vw, 32px);
        line-height: 40px;
        padding-top: 65px;
        padding-bottom: 35px;
    }
    .icons {
        display: inline-block;
        z-index: 10000;
        position: absolute;
        top: 10px;
        right: 10px;
        a {
            padding-left: 1em;
            font-size: 1em;
            font-family: 'Lato', sans-serif;
            color: #616161;
            i {
                font-size: 1.5em;
                color: #212121;
                position: relative;
                top: 2px;
            }
            span {
                padding-left: 0.3em;
            }
        }
    }
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0px 4px 10px -9px #212121;
    top: -3px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    color: #212121;
    padding-top: 0px;
    padding-bottom: 0px;
    .navbar-brand {
        font-family: 'Satisfy', cursive;
        font-weight: 400;
        font-size: clamp(1.3em, 1.6vw, 1.8em);
        display: none;
    }
    .navbar-toggler {
        border: none;
        font-size: 1em;
        color: black;
    }
    ul {
        line-height: 35px;
        li {
            padding: 0 2vw 0 2vw;
            .dropdown-toggle::after {
                content: none;
            }
            a {
                text-decoration: none;
                color: #9e9e9e;
            }
            .activeRoute {
                color: #212121;
            }
        }
    }
    .search {
        display: flex;
        align-items: center;
        input {
            margin-right: 15px;
            width: 100%;
            min-width: 20vw;
            background: transparent;
            border-bottom: 1px solid #212121;
            border-right: none;
            border-top: none;
            border-left: none;
            border-radius: 0%;
            display: none;
        }
        a {
            color: #212121;
            font-size: 1.2em;
        }
    }
}

@media screen and (min-width: 992px) {
    .navbar {
        .hover > .dropdown-menu {
            max-height: 95vh;
            visibility: visible;
        }
        .dropdown-menu {
            border-top: none;
            position: absolute;
            top: 45px;
            width: 200vw;
            margin-left: -100vw;
            padding-left: 100vw;
            display: block;
            max-height: 0;
            visibility: hidden;
            transition: all 0.5s linear;
            overflow: hidden;
            a {
                width: 200vw;
                margin-left: -100vw;
                padding-left: 103vw;
            }
        }
        .activeRoute {
            border-bottom: 3px solid #212121;
        }
    }
}

@media screen and (max-width: 768px) {
    .container-fluid {
        h1 {
            padding-top: 75px;
            padding-bottom: 25px;
        }
        span {
            display: none;
        }
    }
}