<app-carousel></app-carousel>

<div class="container about" id="about" style="margin-top: 50px;">
    <h2>About us</h2>
    <p style="margin-top: 25px;">
        ArtGallery is a website where you can buy stunning original art by some of world's most talented artists. We sell artwork by established “names” as well as the cream of the crop of emerging talent. We also now work with the most talented international artists to bring you an even wider selection.
    </p>
    <h5>Information</h5>
    <p>We give you all the information you need to make your purchasing decision. From the exact size of each work, to the mounting details.</p>
    <h5>Support and sponsorship</h5>
    <p>When you buy through ArtGallery you are helping established artists grow and maintain their reputations. We also feature new and up-and-coming artists. So you are helping foster a lively art scene and create opportunities for artists to turn professional.</p>
    <h5>Buyer protection</h5>
    <p>When you buy from ArtGallery you are buying through a company trading since 1999 with an excellent reputation for professionalism and reliability. But that’s not all; you are also protecting yourself from disappointment in many ways. Be smart when you buy your art.</p>
</div>

<div class="container news">
    <h2 id="news">News</h2>
    <article>
        <div class="container-fluid" style="border-bottom: 1px solid #e0e0e0;">
            <div class="row">
                <div class="img" style="background-image: url('https://images.unsplash.com/photo-1567131308618-79aa79b33cdd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=672&q=80')"></div>
                <h3>Article Author</h3>
                <h6>{{ myDate | date: 'shortDate' }}</h6>
            </div>
            <h4>INTERNATIONAL SCULPTURE DAY</h4>
            <p>Every year on the last Saturday in April, International Sculpture Day raises awareness, appreciation, and enjoyment of sculpture. It’s also a day for sculptors around the world to showcase their artistic talents.</p>
            <p>Sculpture is a type of visual arts that operates in three dimensions. The word sculpture comes from the Latin word sculpere, which means to carve. Sculptors use a variety of materials to create their sculptures. While many of the traditional materials include wood, stone, metal, and ceramics, other sculptors specialize in non-traditional materials. They use materials such as ice, toothpicks, and even LEGO. Sculptors also use materials, colors, texture, and size to evoke an emotion or response from the viewer. Their methods vary, too. Sculptors use one of four primary methods to make their sculptures. These methods include carving, molding, casting, and assembling.</p>
        </div>
    </article>
    <article>
        <div class="container-fluid">
            <div class="row">
                <div class="img" style="background-image: url('https://images.unsplash.com/photo-1610043809095-9c87fe936e03?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80');"></div>
                <h3>Article Author</h3>
                <h6>{{ myDate | date: 'shortDate' }}</h6>
            </div>
            <h4>Photography and Climate Change</h4>
            <p>Every year on the last Saturday in April, International Sculpture Day raises awareness, appreciation, and enjoyment of sculpture. It’s also a day for sculptors around the world to showcase their artistic talents.</p>
            <p>Sculpture is a type of visual arts that operates in three dimensions. The word sculpture comes from the Latin word sculpere, which means to carve. Sculptors use a variety of materials to create their sculptures. While many of the traditional materials include wood, stone, metal, and ceramics, other sculptors specialize in non-traditional materials. They use materials such as ice, toothpicks, and even LEGO. Sculptors also use materials, colors, texture, and size to evoke an emotion or response from the viewer. Their methods vary, too. Sculptors use one of four primary methods to make their sculptures. These methods include carving, molding, casting, and assembling.</p>
        </div>
    </article>
</div>

<div class="container other" id="other">
    <h2>Other sections</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id mattis ex. Nam rutrum accumsan sem quis volutpat. Integer id scelerisque massa. Curabitur ut mauris pellentesque, accumsan mauris id, fringilla purus. Curabitur facilisis elit eros, et sagittis nulla faucibus id. Proin vel tortor risus. Suspendisse eu nisl ut elit rutrum rhoncus vitae id risus. Donec a odio augue. Mauris eget iaculis turpis, eget pulvinar sem. Maecenas blandit lorem vel sollicitudin condimentum. Praesent dui nisi, egestas id faucibus sit amet, volutpat at ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent quis dignissim metus, sit amet dictum est.</p>
    <p>Duis dignissim eget nibh ac euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nunc metus nunc, auctor eget elementum vel, dignissim pulvinar tortor. Quisque rhoncus leo ac facilisis euismod. Mauris aliquet nisi ac tortor mattis molestie. Phasellus at est aliquet, auctor diam in, venenatis eros. Praesent maximus purus at iaculis pharetra. Maecenas in ligula tellus. Nam vel consequat tellus, sit amet lacinia turpis. In vulputate sollicitudin erat, eu sollicitudin nunc tincidunt non. Praesent lobortis enim et ipsum facilisis accumsan. Maecenas eget facilisis ex, nec posuere elit. Integer laoreet pulvinar urna, sed gravida felis vulputate id.</p>
</div>